{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<secion>
    <h1>Categories</h1>
    {% include 'layouts/_flash_message.html.twig' %}
    <table class="table table-striped">
        <tr>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-outline-primary">Edit</a>
                    <a onclick="return confirm('Do you really want to delete this category ?')" href="{{ path('app_category_delete', {'id': category.id}) }}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <p>No categoty found</p>
        {% endfor %}
    </table>
    <a href="{{ path('app_category_new') }}" class="btn btn-success">Create new category</a>
</secion>
{% endblock %}
