{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}

<main class="container">
    <div class="row">
        <div class="col-8">
            <h1>Order</h1>
            {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
                {{ form_widget(form) }}
                <input type="submit" value="Continue" class="mt-4 btn btn-dark">
            {{ form_end(form) }}
        </div>
        <div class="col-4 mt-2">
            <h4>Your cart : <span id="card-price">{{ total }}</span> $</h4>
            <p>Shipping cost : <span id="shippingCost"></span> $</p>
            <h3>Total : <span class="total-price"></span> $</h3>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        const citySelector = $('#order_city');
        const cityValue = citySelector.val();

        const url = `/city/${cityValue}/shipping/cost`;

        function ajaxRequest(url) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function(response){
                    const newResponse = JSON.parse(response)

                    if (parseInt(newResponse.status) === 200){
                        $("#shippingCost").text(newResponse.content)

                        const cardPrice = parseFloat($('#card-price').text());
                        const shippingCost = parseFloat($('#shippingCost').text());
                        $('.total-price').text(cardPrice+shippingCost);
                    }
                },
                error:function(xhr,status,error){

                }
            })
        }

        ajaxRequest(url)

        citySelector.on('change', function() {
            const urlUpdate = `/city/${$(this).val()}/shipping/cost`;
            ajaxRequest(urlUpdate)
        })
    })
</script>
{% endblock %}
